.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* margin-top: 1rem; */
	width: 100%;
	height: 4rem;
}

.navbarLeft {
	min-width: 200px;
}

.logo {
	display: inline-block;
}

.navbarRight {
	display: flex;
	justify-content: space-between;
}

.link {
	text-decoration: none;
	color: #868e96;
	margin-right: 100px;

	transition: all ease 100ms;
}

.link:hover {
	color: #495057;
}
