<%- include('includes/head.ejs') %>
</head>

<body>
	<main>
        <button> <a href="/auth/google">Google Auth</a> </button>
        <form action="/auth/create-account" method="POST">
            <label for="name">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Sign Up</button>
        </form>
    </main>