.product-form {
	width: 20rem;
	max-width: 90%;
	margin: auto;
	display: block;
}

.product-item {
	width: 20rem;
	max-width: 95%;
	margin: 1rem;
}

.product__title {
	font-size: 1.2rem;
	text-align: center;
}

.product__price {
	text-align: center;
	color: #4d4d4d;
	margin-bottom: 0.5rem;
}

.product__description {
	text-align: center;
}
product_img--details {
	width: 450px;
}

#toast-container {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 9999;
}

#toast {
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	display: none;
	transition: opacity 0.5s ease-in-out;
}

#toast.success {
	background-color: #4caf50;
}

#toast.error {
	background-color: #f44336;
}
