<div class="backdrop"></div>
<header class="main-header">
	<button id="side-menu-toggle">Menu</button>
	<nav class="main-header__nav">
		<ul class="main-header__item-list">
			<li class="main-header__item">
				<a
					class="<%= path === '/dashboard' ? 'active' : '' %>"
					href="/dashboard"
					>Dashboard</a
				>
			</li>
			<li class="main-header__item">
				<a
					class="<%= path === '/dashboard' ? 'active' : '' %>"
					href="/expense/get-user-expense"
					>My Expenses</a
				>
			</li>

			<li class="main-header__item">
				<form action="/auth/logout" method="POST">
					<button
						class="<%= path === '/auth/logout' ? 'active' : '' %>"
						type="submit"
					>
						Logout
					</button>
				</form>
			</li>
		</ul>
	</nav>
</header>
